<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>
<div id="title_area">
</div>
<div id="todays_menu">
</div>
<div id="todays_my_status">
</div>
<div id="button_area">
</div>
<div id="transfer_log">
</div>
