<CENTER>■ 翌日以降の緊急欠食申請 ■<BR>
<BR>
<TABLE cellpadding="3" cellspacing="2" bgcolor="#ff8000">
  <tr>
      <TH bgcolor="#ffcc66">日付</TH>
      <TH bgcolor="#ffcc66">メニュー</TH>
      <TH bgcolor="#ffcc66">申請</TH>
    </tr>
  <% @meals.each do |meal| %>
  <tr>
    <td bgcolor="#ffffff"><%= meal.date.strftime("%m/%d (%a)") %></td>
    <td bgcolor="#ffffff"><%= meal.name %></td>
    <td bgcolor="#ffffff"><%= sell_apply_link(@user.id, meal.id) %></td>
  </tr>
  <% end %>
</TABLE>
<BR>
</CENTER>
<HR>
<P align="center"><%= link_to("戻る", :controller => "top", :action => "index", :keycode => @user.keycode) %></P>
