<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="Content-Style-Type" content="text/css">
<TITLE></TITLE>
</HEAD>
<BODY bgcolor="#ffffcc">
<CENTER>
<TABLE cellpadding="0" cellspacing="0">
  <TBODY>
    <TR>
      <TD colspan="2"><B><FONT size="+2" color="#E93D27">と</FONT><FONT color="#E94027">あ</FONT><FONT color="#EA5A2E">る</FONT><FONT size="+2" color="#EA6430">食</FONT><FONT size="+1" color="#EB7334">堂</FONT><FONT color="#EB7334">の</FONT></B></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE cellpadding="0" cellspacing="0">
  <TBODY>
    <TR>
      <TD bgcolor="#E92020"><B><FONT size="+2" color="#ffffff">欠</FONT></B></TD>
      <TD><B><FONT color="#E93A26">食</FONT><FONT size="+1" color="#EA532C">目</FONT><FONT size="+2" color="#EA6530">録</FONT></B></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE cellpadding="0" cellspacing="0">
  <TBODY>
    <TR>
      <TD colspan="2"><FONT size="-2" color="#E92E23" face="Arial">イ</FONT><FONT size="-2" color="#E93423" face="Arial">ン</FONT><FONT size="-2" color="#E93B26" face="Arial">デ</FONT><FONT size="-2" color="#E94128" face="Arial">ッ</FONT><FONT size="-2" color="#EA4A2A" face="Arial">ク</FONT><FONT size="-2" color="#EA502B" face="Arial">ス</FONT></TD>
    </TR>
  </TBODY>
</TABLE>
</CENTER>
<HR>
<CENTER>■ 翌日以降の緊急欠食申請 ■<BR>
<BR>
<TABLE cellpadding="3" cellspacing="2" bgcolor="#ff8000">
  <tr>
      <TH bgcolor="#ffcc66">日付</TH>
      <TH bgcolor="#ffcc66">メニュー</TH>
      <TH bgcolor="#ffcc66">申請</TH>
    </tr>
  <% @meals.each do |meal| %>
  <tr>
    <td bgcolor="#ffffff"><%= meal.date.strftime("%m/%d (%a)") %></td>
    <td bgcolor="#ffffff"><%= meal.name %></td>
    <td bgcolor="#ffffff"><%= sell_apply_link(@user.id, meal.id) %></td>
  </tr>
  <% end %>
</TABLE>
<BR>
</CENTER>
<HR>
<P align="center"><%= link_to("戻る", :controller => "top", :action => "index", :keycode => @user.keycode) %></P>
<HR>
<P align="center">(C) 2010 Team Yokohama.</P>
</BODY>
</HTML>
