<h1>Editing sample</h1>

<% form_for(@sample) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @sample %> |
<%= link_to 'Back', samples_path %>