<CENTER><B>～やっぱり食べたい～</B><BR>
<%= @meal.date.strftime("%m/%d (%a)") %><BR>
<%= h @meal.name %><BR>
<BR>
<TABLE cellpadding="3" cellspacing="2" bgcolor="#ff8000">
  <TBODY>
    <TR>
      <TD bgcolor="#ffffff"><FONT color="#ff0000">本当に食べますか?</FONT><BR>
⇒ 
<%= link_to "食べる(#{MealStatus.buyable_count(@meal.id)})", :action => "buy", :keycode => @user.keycode, :meal_id => @meal.id %>

</TD>
    </TR>
  </TBODY>
</TABLE>
</CENTER>
