<h1>きらいなもの</h1>
<%= @message %>
<form action="/unlikes/update" method="post">
  <p>
   <textarea name="words" rows="12" cols="24"><%= h @unlikes %></textarea>
  </p>
  <p>
    <input type="submit" value="送信" />
  </p>
  <input type="hidden" name="keycode" value="<%= params[:keycode] %>">
</form>