<CENTER>■ 嫌いなメニューの設定 ■<BR>
<BR>
<form action="/unlikes/update" method="post">
<TABLE cellpadding="3" cellspacing="2" bgcolor="#ff8000">
  <tr>
      <TH bgcolor="#ffcc66">1行に1キーワード設定</TH>
    </tr>
  <tr>
      <TD bgcolor="#ffffff" align="center">
        <textarea name="words" rows="12" cols="24"><%= h @unlikes %></textarea>
        <BR>
      <input type="submit" value="送信" />
      </TD>
    </tr>
</TABLE>
<input type="hidden" name="keycode" value="<%= params[:keycode] %>">
</form>
</CENTER>
<HR>
<P align="center"><%= link_to "戻る", :controller => "top", :action => "index", :keycode => @user.keycode %></P>
